# Requirements SIN opencv ni mediapipe (se instalan por separado)

pymongo==4.10.1
fastapi==0.115.5
uvicorn==0.32.1
python-dotenv==1.0.1
Jinja2==3.1.4
python-multipart==0.0.19
argparse
pandas==2.2.3
scipy==1.14.1
aiofiles
typing==3.7.4.3
moviepy==1.0.3
imageio>=2.5.0
imageio-ffmpeg==0.6.0
openai


# Nota: opencv-python y mediapipe se instalan en el Dockerfile
# Si deseas instalarlo localmente, descomenta las siguientes líneas:
# opencv-python==4.10.0.84
# mediapipe==0.10.20